@model BloodBankManagementSystem.Models.BloodStockCostViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">
<head>
    <title>Stock Availability and Cost</title>
   
</head>
<body>
    <div class="container">
        <p class="text-center text-success">Blood Stock Availability Details</p>
        <table class="table table-hover bg-info">
            <thead>
                <tr class="bg-primary">
                    <th>Blood Group</th>
                    <th>Whole Blood</th>
                    <th>Packed Cells</th>
                    <th>Frozen Plasma</th>
                    <th>Platelets</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var stock in Model.LstStockAvailability)
                {
                    <tr>
                        <th>@stock.Bg</th>
                        <td>@stock.WholeBlood</td>
                        <td>@stock.PackedCells</td>
                        <td>@stock.FrozenPlasma</td>
                        <td>@stock.Platelets</td>
                    </tr>
                }
            </tbody>
        </table>
        <p class="text-center text-success">Blood Cost Details</p>
        <table class="table table-hover bg-info">
            <thead>
                <tr class="bg-primary">
                    <th>Blood Group</th>
                    <th>Product Type</th>
                    <th>Quantity</th>
                    <th>Units</th>
                    <th>Cost/Units</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var stock in Model.LstBloodCost)
                {
                    <tr>
                        <th>@stock.Bg</th>
                        <th>@stock.ProductType</th>
                        <td>@stock.Qty</td>
                        <td>@stock.Units</td>
                        <td>@stock.Cost</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
    


