@model BloodBankManagementSystem.Models.BloodCost
<html>
<head>

</head>
<body>
    @using (Html.BeginForm("UpdateCostofBlood", "Validated", FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    @Html.LabelFor(bg => bg.Bg, "Blood Group :")
                </td>
                <td>
                    <div class="form-group">
                        @Html.TextBoxFor(bg => bg.Bg, new { @class = "form-control", @readonly = "true" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(product => product.ProductType, "Product Type :")
                </td>
                <td>
                    <div class="form-group">
                        @Html.TextBoxFor(product => product.ProductType, new { @class = "form-control", @readonly = "true" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(qty => qty.Qty, "Quantity :")
                </td>
                <td>
                    <div class="form-group">
                        @Html.TextBoxFor(qty => qty.Qty, new { @class = "form-control" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(units => units.Units, "Units :")
                </td>
                <td>
                    <div class="form-group">
                        @Html.TextBoxFor(units => units.Units, new { @class = "form-control" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(cost => cost.Cost, "Cost :")
                </td>
                <td>
                    <div class="form-group">
                        @Html.TextBoxFor(cost => cost.Cost, new { @class = "form-control" })
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary btn-block center-block" />
                    </div>
                </td>
            </tr>
        </table>
    }
</body>
</html>
